# Docker files
.git
.gitignore
README.md
.dockerignore

# Volumes (مهم)
medikall/
medikall_mongodata/
rabbitmq-isolated.conf

# Logs
*.log
storage/
bootstrap/cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Temp files
*~
*.tmp
#ib_*
ib_*
