:root{

    --primary:#4B5CFF;

    --primary-dark:#3447ef;

    --secondary:#7A5AF8;

    --text:#1F2937;

    --muted:#6B7280;

    --border:#E8EDF7;

    --background:#F7F9FD;

    --white:#ffffff;

    --shadow:

            0 18px 60px rgba(50,50,93,.08);

    --radius:22px;

    --transition:.35s;
}
